html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
  /* margin: 5px auto; */
  border: 10px solid #333;
}

body{
  background-color: rgb(200, 145, 200);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
  font-size: 48px;
  margin-bottom: 1px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.game-container {
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 0;
}

.controls{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 100px;
  margin-top: 20px;
}

#controller {
  max-width: 600px;
  width: 100%;
  height: 150px;
  object-fit: contain;
}

#reset-btn{
  padding: 15px 30px;
  position: absolute;
  right: -200px;
}

.side-panel{
  width: 150px;
  height: 500px;
  background-color: #8e44ad; 
}

.L {
  background-image: url('Images/Flower.png');
  background-repeat: repeat-y;
  background-position: center;
  background-size: 150px auto;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border-right: none;
}

.R {
  background-image: url('Images/Flower.png');
  background-repeat: repeat-y;
  background-position: center;
  background-size: 150px auto;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border-left: none;
}

#player-name {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#leaderboard-link {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 80px;
  z-index: 1000;
}